<ion-header>
  <ion-item item-icon-rigth>
    
    <ion-title  > Historial de Examenes:</ion-title>
    <ion-icon name="book-outline"></ion-icon>

  </ion-item>
  
</ion-header>
<ion-list>
  <ion-item href="https://drive.google.com/file/d/1GY_FooZuee8zFfns-nYgl1NDBQPxp56i/view?usp=sharing">
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Hemograma completo              4/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Urinálisis completo       5/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Perfil renal: Nitrógeno de urea, Creatinina, Ácido úrico, Proteína total, albúmina/globulina calcio, glucosa 20/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Perfil lipídico: Colesterol, LDL; HDL; triglicérido 22/07/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Perfil hepático: Bilirrubina, total y directa, AST, LDH</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Perfil triode: TSH, T3, T4      12/08/2021</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Panel básico metabólico: Electrolitos, glucosa, nitrógeno de urea,creatinina     5/09/2021</ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  
</ion-list>
<div class="bar bar-footer bar-stable">

  <section class="full-width" >
    
    <ion-button expand="full" color="secondary" href="/loby"><ion-icon name="arrow-back-outline"></ion-icon>  regresar </ion-button>
    
  </section>
</div>