<ion-header>
  <ion-item item-icon-rigth>
    
    <ion-title  > Citas:</ion-title>
    <ion-icon name="book-outline"></ion-icon>

  </ion-item>
  
</ion-header>
<ion-list>
  <ion-item>
    <ion-label>Consulta: Clinica 28               4/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Examen de sangre: Clinica 28       5/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Consulta: Nutriologo Victor Hdz. 20/06/2020</ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  
</ion-list>
<div class="bar bar-footer bar-stable">

  <section class="full-width" >
    
    <ion-button expand="full" color="secondary" href="/add-consulta">agregar <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    
  </section>
</div>
