<ion-header>
  <ion-item item-icon-rigth>
    
    <ion-title  > Enfermedades hereditarias:</ion-title>
    <ion-icon name="book-outline"></ion-icon>

  </ion-item>
  
</ion-header>
<ion-list>
  <ion-item>
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <ion-label> Obesidad</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <ion-label> Hipertencion arterial</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <ion-label> Sindrome metadolico</ion-label>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  
</ion-list>
<div class="bar bar-footer bar-stable">

  <section class="full-width" >
    
    <ion-button expand="full" color="secondary" href="/loby"><ion-icon name="arrow-back-outline"></ion-icon>  regresar </ion-button>
    
  </section>
</div>
